<div class="{{classes.columnsDropdownWrapper}}">
  {{#paper-menu as |menu|}}
    {{#paper-button target=menu action="toggleMenu" icon-button=true}}
        <div class="md-menu-origin">{{paper-icon icon="view-column"}}</div>
    {{/paper-button}}
  {{else}}
    {{#paper-menu-item}}
        <a {{action "showAllColumns" column bubbles=false}} href="#">{{messages.columns-showAll}}</a>
    {{/paper-menu-item}}
    {{#paper-menu-item}}
        <a {{action "hideAllColumns" column bubbles=false}} href="#">{{messages.columns-hideAll}}</a>
    {{/paper-menu-item}}
    {{#paper-menu-item}}
        <a {{action "restoreDefaultVisibility" column bubbles=false}}
                href="#">{{messages.columns-restoreDefaults}}</a>
    {{/paper-menu-item}}
    {{#each processedColumns as |column|}}
      {{#if column.mayBeHidden }}
        {{#paper-menu-item}}
            <a {{action "toggleHidden" column bubbles=false}} href="#">
              {{#if column.isVisible}}
                {{paper-icon icon="check-box"}}
              {{else}}
                {{paper-icon icon="check-box-outline-blank"}}
              {{/if}}
              {{column.title}}
            </a>
        {{/paper-menu-item}}
      {{/if}}
    {{/each}}
  {{/paper-menu}}
</div>
